/* Clip-path transition */

$width: 100vw;
$height: 100vh;
$pages: 2;


.sunrise.background-colors {
    position: relative;
    width: $height;
    height: $width * $pages;
    // background: green;
    background: url("../images/sunrise.png");
    background-size: 100% 100%;
    // background:linear-gradient(-90deg, #5583F9 30.27%, rgba(151, 73, 213, 0.47) 77.73%, rgba(165, 111, 233, 0) 130%), #F1D897;
  }


  #sunrise.noise{
    position: relative;
    width: $height;
    height: $width * $pages;
    background: url("../images/noise_square.png");
    background-repeat: repeat;
    // width: $height;
    // height: $width;
  }

.sunrise.parallax-background {
    width: $width * $pages;
    position: absolute;
    top: 0%;
    left: 50%;
    .clouds {
        position: absolute;
        left: -40%;
        top: -17%;
        right: 0%;
        width: $width;
    }
}


.sunrise.parallax-child-container {
    height: $width * $pages;

}

.sunrisetime {
    font-size: .9rem;
    color: rgba(255,255,255,0.6);
    position: absolute;
    top: -4%;
    left: 12.3%;
  }



  
.choice1 {
  position: absolute;
  width: 35rem;
  left: 20rem;
  top: 7rem;
  // border:1px solid rgba(255, 193, 166, 0.5);
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}



.context1 {
    position: absolute;
    left: 20%;
    bottom: 40%;
    // border: 1px solid turquoise;
    // padding-top: 2rem;
    // padding-bottom: 0rem;
  }
  


.question1 {
  position: absolute;
  left: 95%;
  bottom: 75%;
  text-align: left;
  // width: 100%;
//   border: 1px solid turquoise;

}

#nextplace {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}

#lifehere {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}



#circlenextplace {
  position: absolute;
  // work
  left: 18rem;
  top: 6.7rem;
  display: none;
  // visibility: hidden;
  // opacity: 0;

}


#circlelifehere {
  position: absolute;
  // work
  left: 18rem;
  top: 10rem;
  display: none;
  // visibility: hidden;
  // opacity: 0;

}


.sunrise_sun {
    position: absolute;
    bottom: 6rem;
    left: 13rem;
    z-index: 2;
  }



#nextmorning {
  position: absolute;
  right: -106.5%;
  bottom: 57%;
}


.sunrise.nextbox_next {
  position: absolute;
  right: -110%;
  bottom: 55%;
}
  