/* Transition with cover screen */
/* Clip-path transition */

$width: 100vw;
$height: 100vh;
$pages: 2;


.midday.background-colors {
    position: relative;
    width: $height;
    height: $width * $pages;
    // background: green;
    background: url("../images/midday.png");
    background-size: 100% 100%;
    // background:linear-gradient(-90deg, #5583F9 30.27%, rgba(151, 73, 213, 0.47) 77.73%, rgba(165, 111, 233, 0) 130%), #F1D897;
  }


  #midday.noise{
    position: relative;
    width: $height;
    height: $width * $pages;
    background: url("../images/noise_square.png");
    background-repeat: repeat;
    // width: $height;
    // height: $width;
  }

.midday.parallax-background {
    width: $width * $pages;
    position: absolute;
    top: 50%;
    left: 50%;
    .clouds {
        position: absolute;
        left: -100%;
        top: -25%;
        // right: 0%;
        width: $width;
    }
}


.midday.parallax-child-container {
    height: $width * $pages;

}

.middaytime {
    font-size: .9rem;
    color: rgba(255,255,255,0.6);
    position: absolute;
    top: -17%;
    left: 6%;
  }







.context3 {
    position: absolute;
    left: 34%;
    bottom: 40%;
    // border: 1px solid turquoise;
    // padding-top: 2rem;
    // padding-bottom: 0rem;
  }
  


.question3 {
  position: absolute;
  left: 95%;
  bottom: 67%;
  text-align: left;
  // width: 100%;
//   border: 1px solid turquoise;

}


  
.choice3 {
    position: absolute;
    width: 35rem;
    left: 53rem;
    top: 4rem;
    transition: ease-out 0.5s all;
    transition-delay: 1s;
    line-height: 80%;
  }

#nextplace {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}

#lifehere {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}



#circlenextplace {
  position: absolute;
  // work
  left: 18rem;
  top: 6.7rem;
  display: none;
  // visibility: hidden;
  // opacity: 0;

}


#circlelifehere {
  position: absolute;
  // work
  left: 18rem;
  top: 10rem;
  display: none;
  // visibility: hidden;
  // opacity: 0;

}


.midday_sun {
    position: absolute;
    bottom: 40rem;
    left: 17rem;
    z-index: 2;
  }



  #nextsunset {
    position: absolute;
    right: -106.5%;
    bottom: 57%;
  }
  
  
  .midday.nextbox_next {
    position: absolute;
    right: -110%;
    bottom: 55%;
  }
    