/* Transition with cover screen */
/* Clip-path transition */

$width: 100vw;
$height: 100vh;
$pages: 2;


.midday.background-colors {
    position: relative;
    width: $height;
    height: $width * $pages;
    // background: green;
    background: url("../images/midday.png");
    background-size: 100% 100%;
    // background:linear-gradient(-90deg, #5583F9 30.27%, rgba(151, 73, 213, 0.47) 77.73%, rgba(165, 111, 233, 0) 130%), #F1D897;
  }


  #midday.noise{
    position: relative;
    width: $height;
    height: $width * $pages;
    background: url("../images/noise_square.png");
    background-repeat: repeat;
    // width: $height;
    // height: $width;
  }

.midday.parallax-background {
    width: $width * $pages;
    position: absolute;
    top: 50%;
    left: 50%;
    .clouds {
        position: absolute;
        left: -100%;
        top: -25%;
        // right: 0%;
        width: $width;
    }
}


.midday.parallax-child-container {
    height: $width * $pages;

}

.middaytime {
    font-size: .9rem;
    color: rgba(255,255,255,0.6);
    position: absolute;
    top: -17%;
    left: 6%;
  }







.context3 {
    position: absolute;
    left: 34%;
    bottom: 40%;
    // border: 1px solid turquoise;
    // padding-top: 2rem;
    // padding-bottom: 0rem;
  }
  


.question3 {
  position: absolute;
  left: 95%;
  bottom: 67%;
  text-align: left;
  // width: 100%;
//   border: 1px solid turquoise;

}


#tutorials {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}

#freelancers {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}



  
.choice3 {
    position: absolute;
    width: 35rem;
    left: 53rem;
    top: 4rem;
    transition: ease-out 0.5s all;
    transition-delay: 1s;
    line-height: 70%;
  }




#circletutorials {
  position: absolute;
  left: 53rem;
  top: 4rem;
  display: none;
  width: 8rem;

}


#circlefreelancers {
  position: absolute;
  left: 53.4rem;
  top: 6.8rem;
  display: none;
  width: 8rem;
}


.midday_sun {
    position: absolute;
    bottom: 42rem;
    left: 22rem;
    z-index: 2;
  }


  #pfreelancers {
    position: absolute;
    left: 75rem;
    top: 0rem;
    height: 20rem;
    display: none;
  }
  
  #ptutorials {
    position: absolute;
    left: 75rem;
    top: 0rem;
    height: 20rem;
    display: none;
  }
  
  
  #dfreelancers1 {
    position: absolute;
    left: 47rem;
    top: 14rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  
  
  #dfreelancers2 {
    position: absolute;
    left: 64rem;
    top: 24rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  #dfreelancers3 {
    position: absolute;
    left: 90rem;
    top: -6rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }

  // #dfreelancers4 {
  //   position: absolute;
  //   left: 84rem;
  //   top: -5rem;
  //   width: 17rem;
  //   letter-spacing: 0;
  //   line-height: 125%;
  //   font-size: small;
  //   color: rgba(255, 255, 255, 1);
  //   display: none;
  // }

  #dtutorials1 {
    position: absolute;
    left: 47rem;
    top: 14rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display:none;
  }
  
  
  #dtutorials2 {
    position: absolute;
    left: 64rem;
    top: 24rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  
  #dtutorials3 {
    position: absolute;
    left: 90rem;
    top: -6rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display:none
  }
  
  


#nextsunset {
  position: absolute;
  left: 1.36rem;
  top: .5rem;
}


#gotosunset {
  // border: 3px solid red;
  position: absolute;
  bottom: 55%;
  right: -105rem;
  width: 5.6rem;
  height: 2.4rem;
  cursor: pointer;
}

.midday.nextbox_next {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 5rem;
}
    