/* Transition with cover screen */
/* Clip-path transition */

$width: 100vw;
$height: 100vh;
$pages: 2;


.morning.background-colors {
    position: relative;
    width: $height;
    height: $width * $pages;
    // background: green;
    background: url("../images/morning.png");
    background-size: 100% 100%;
    // background:linear-gradient(-90deg, #5583F9 30.27%, rgba(151, 73, 213, 0.47) 77.73%, rgba(165, 111, 233, 0) 130%), #F1D897;
  }


  #morning.noise{
    position: relative;
    width: $height;
    height: $width * $pages;
    background: url("../images/noise_square.png");
    background-repeat: repeat;
    // width: $height;
    // height: $width;
  }

.morning.parallax-background {
    width: $width * $pages;
    position: absolute;
    top: 50%;
    left: 50%;
    .clouds {
        position: absolute;
        left: -100%;
        top: -25%;
        // right: 0%;
        width: $width;
    }
}


.morning.parallax-child-container {
    height: $width * $pages;

}

.morningtime {
    font-size: .9rem;
    color: rgba(255,255,255,0.6);
    position: absolute;
    top: -17%;
    left: 10.3%;
  }



  
.choice2 {
  position: absolute;
  text-align: center;
  width: 35rem;
  left: 1rem;
  top: -1rem;
  transition: ease-out 0.5s all;
  transition-delay: 1s;
  line-height: 70%;
}



.context2 {
    position: absolute;
    left: 28%;
    bottom: 62%;
    // border: 1px solid turquoise;
    // padding-top: 2rem;
    // padding-bottom: 0rem;
  }
  


.question2 {
  position: absolute;
  left: 85%;
  bottom: 37%;
  text-align: left;
  // width: 100%;
//   border: 1px solid turquoise;

}

#intimidated {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}

#empowered {
  transition: ease-out 0.5s all;
  transition-delay: 1s;
}



#circleintimidated {
  position: absolute;
  // work
  left: 11rem;
  top: -1rem;
  display: none;
  width: 16rem;
  // visibility: hidden;
  // opacity: 0;

}


#circleempowered {
  position: absolute;
  // work
  left: 11rem;
  top: 2rem;
  display: none;
  width: 16rem;
  // visibility: hidden;
  // opacity: 0;

}


.morning_sun {
    position: absolute;
    bottom: 40rem;
    left: 17rem;
    z-index: 2;
  }



  // #nextmidday {
  //   position: absolute;
  //   right: -106.5%;
  //   bottom: 57%;
  // }
  
  
  // .morning.nextbox_next {
  //   position: absolute;
  //   right: -110%;
  //   bottom: 55%;
  // }


  #pempowered {
    position: absolute;
    left: 53rem;
    top: -18rem;
    height: 20rem;
    display: none;
  }
  
  #pintimidated {
    position: absolute;
    left: 53rem;
    top: -18rem;
    height: 20rem;
    display: none;
  }
  
  
  #dempowered1 {
    position: absolute;
    left: 76rem;
    top: -20rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  
  
  #dempowered2 {
    position: absolute;
    left: 28rem;
    top: -10rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  #dempowered3 {
    
    position: absolute;
    left: 80rem;
    top: -5rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }

  #dempowered4 {
    position: absolute;
    left: 90rem;
    top: 3.7rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }

  #dintimidated1 {
    position: absolute;
    left: 76rem;
    top: -20rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  
  #dintimidated2 {
    position: absolute;
    left: 28rem;
    top: -10rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  
  #dintimidated3 {
    position: absolute;
    left: 80rem;
    top: -5rem;
    width: 17rem;
    letter-spacing: 0;
    line-height: 125%;
    font-size: small;
    color: rgba(255, 255, 255, 1);
    display: none;
  }
  
  


#nextmidday {
  position: absolute;
  left: 1.36rem;
  top: .5rem;
}


#gotomidday {
  // border: 3px solid red;
  position: absolute;
  bottom: 55%;
  right: -105rem;
  width: 5.6rem;
  height: 2.4rem;
  cursor: pointer;
}

.morning.nextbox_next {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 5rem;
}

    